# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=satriacbt
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# JWT
JWT_SECRET=change-this-in-production

# Auth service
AUTH_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_PORT=3001

# Exam service
EXAM_SERVICE_URL=http://localhost:3002
EXAM_PORT=3002

# Gateway
GATEWAY_PORT=3000
